@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './reset.css';

:root {
  --primary-light: #51e2bd;
  --primary: #06d6a0;
  --primary-dark: #049670;

  /* Secondary - Blue shades */
  --secondary-light: #7fc5e8;
  --secondary: #118ab2;
  --secondary-dark: #0c617d;

  /* Warning - Yellow/Orange shades */
  --warning-light: #ffebb2;
  --warning: #ffd166;
  --warning-dark: #b39247;

  /* Danger - Red shades */
  --danger-light: #f9a3b1;
  --danger: #ef476f;
  --danger-dark: #a7324e;

  /* Green shades */
  --green-light: #7fe8c2;
  --green: #06d6a0;
  --green-dark: #049670;

  /* Black and White */
  --black: #000000;
  --black-light: #333333;

  --white: #ffffff;
  --white-dark: #d3d3d3;
}
