@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './reset.css';

:root {
  --primary-light: #51e2bd;
  --primary: #06d6a0;
  --primary-dark: #049670;

  --secondary-light: #58adc9;
  --secondary: #118ab2;
  --secondary-dark: #0c617d;

  --warning-light: #b39247;
  --warning: #ffd166;
  --warning-dark: #ffdf94;

  --danger-light: #f47e9a;
  --danger: #ef476f;
  --danger-dark: #a7324e;

  --green-dark: #052935;
  --green: #073b4c;
  --green-light: #517682;

  --black: #000000;
  --white: #ffffff;
}
